html, body {
  height: 100%;
}

.inline {
  display: inline-block;
}

.code {
  background-color: #ffa4a4;
  padding: 3px;
  border-radius: 3px;
}

.block {
  padding: 1em 0.5em;
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
}
